@font-face {
  font-family: 'PRegular';
  src: url('http://kanalukraina.tv/stylesheets/ukraine2015/fonts/Plumb-Regular.eot?#iefix') format('embedded-opentype'), url('http://kanalukraina.tv/stylesheets/ukraine2015/fonts/Plumb-Regular.otf') format('opentype'), url('http://kanalukraina.tv/stylesheets/ukraine2015/fonts/Plumb-Regular.woff') format('woff'), url('http://kanalukraina.tv/stylesheets/ukraine2015/fonts/Plumb-Regular.ttf') format('truetype'), url('http://kanalukraina.tv/stylesheets/ukraine2015/fonts/Plumb-Regular.svg#Plumb-Regular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PBold';
  src: url('http://kanalukraina.tv/stylesheets/ukraine2015/fonts/Plumb-Bold.eot?#iefix') format('embedded-opentype'), url('http://kanalukraina.tv/stylesheets/ukraine2015/fonts/Plumb-Bold.otf') format('opentype'), url('http://kanalukraina.tv/stylesheets/ukraine2015/fonts/Plumb-Bold.woff') format('woff'), url('http://kanalukraina.tv/stylesheets/ukraine2015/fonts/Plumb-Bold.ttf') format('truetype'), url('http://kanalukraina.tv/stylesheets/ukraine2015/fonts/Plumb-Bold.svg#Plumb-Bold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PLight';
  src: url('http://kanalukraina.tv/stylesheets/ukraine2015/fonts/Plumb-Light.eot') format('embedded-opentype'), url('http://kanalukraina.tv/stylesheets/ukraine2015/fonts/Plumb-Light.woff') format('woff'), url('http://kanalukraina.tv/stylesheets/ukraine2015/fonts/Plumb-Light.ttf') format('truetype'), url('http://kanalukraina.tv/stylesheets/ukraine2015/fonts/Plumb-Light.svg#Plumb-Light') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PMedium';
  src: url('http://kanalukraina.tv/stylesheets/ukraine2015/fonts/Plumb-Medium.eot?#iefix') format('embedded-opentype'), url('http://kanalukraina.tv/stylesheets/ukraine2015/fonts/Plumb-Medium.woff') format('woff'), url('http://kanalukraina.tv/stylesheets/ukraine2015/fonts/Plumb-Medium.ttf') format('truetype'), url('http://kanalukraina.tv/stylesheets/ukraine2015/fonts/Plumb-Medium.svg#Plumb-Medium') format('svg');
  font-weight: normal;
  font-style: normal; 
  
}